<!DOCTYPE>
<!--Página modelo para todas las ventanas que se muestren, 
	en la que sólo variará el bloque <section>-->
<html lang="en">
<head>
	<title>Quiz</title>
	<meta charset="UTF-8">
	<link rel='stylesheet' type="text/css" href="/stylesheets/style.css"/>
	<link rel='stylesheet' type="text/css" 
			media="only screen and (min-width: 530px) and (min-device-width: 481px)" 
			href="/stylesheets/wide.css" />
	<link rel='stylesheet' type="text/css" 
			media="only screen and (max-width: 480px)" 
			href="/stylesheets/smartphone.css" />
</head>

<body>
<div id="page-wrap">
	<header class="main" id="h1">
		<%if(!session.user){%>
			<span class="right"><a href="/login"><button>Login</button></a></span>
		<%} else{%>
			<span class="right"><%=session.user.username%> <a href="/logout"><button>Logout</button></a></span>
		<%}%>

		<h2>Quiz<span>: el juego de las preguntas</span></h2>
	</header>
	
	<nav class="main" id="n1" role="navigation">
		<span><a href="/">Inicio</a></span>
		<span><a href="/quizes">Preguntas</a></span>
		<span><a href="/author">Créditos</a></span>
	</nav>

	<!-- body será sustituido por la vista que se renderice en ese momento (render), gracias al middleware que hemos instalado e importado, express-partials-->
	<section class="main" id="s1">
		<% if(errors.length){ %>
			<span id='ErrorMsgs'>
				Corregir errores:<br>
				<% for (var i in errors){ %>
					<span> <%= errors[i].message %> </span><br>
				<% } %>
			</span>
		<% } %>

		<div><%- body %></div>	
	</section>

	<footer class="main" id="f1">
		<a href="http://es.wikipedia.org/wiki/Quiz" target="_blank">¿Qué es un Quiz?</a>
		
		<span><a href="https://github.com/HeikkiDev/QuizProject.git" target="_blank">Repositorio GitHub :)</a></span>

		<br>
	</footer>
</div>
</body>
</html>
