* { margin: 0; padding: 0; }
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#page-wrap { margin: 2% auto; color: white; }
#page-wrap > .main { border: 1px solid #999; padding: 1%; margin-bottom: 1px; color: black;}

section > div { padding: 20px; }
header, nav, section, footer { background: #eee; text-align: center;}
nav span {margin: 0px 10px 0px 0px;}
button {border-radius: 25px; background-color:#FAFAFA;}
button:hover {background-color:#D8D8D8;}
input[type="submit"] {border-radius: 25px; background-color:#FAFAFA;}
input[type="submit"]:hover {background-color:#D8D8D8;}
#ErrorMsgs	{color: #f61; font-size: smaller}
