<!DOCTYPE>
<html>

<head>
	<title>Quiz</title>
	<meta charset="UTF-8">
	<link rel='stylesheet' href="/stylesheets/style.css"/>
</head>
<body>
	<h2>Quiz: el juego de las preguntas</h2>
	
	<p>
<<<<<<< HEAD
	<%= respuesta %><br>
=======
	<%= respuesta %>
>>>>>>> 57c4c2bde658de0cfb39470ee62beebd9e5b4b3f
	<a href="/quizes/<%= quiz.id %>">Volver </a>
	</p>
	
</body>

</html>
